*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #f0f1f1;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
    transition:
            opacity .5s ease,
            transform .5s ease,
            filter .5s ease;
    color:#444f55;

}


header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#161b22;
    color:white;

}

header h1{
    font-size:28px;
}

a {
    color: #FF9600;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #444f55;
    text-decoration: underline;
}

.github{
    color: #FF9600;
    font-size:34px;
    transition:.3s;
}

.github:hover{
    color: #FF9600;
    transform:scale(1.1);
}

main{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero{
    text-align:center;
}

.header{
    text-align:left;
    gap: 30px;
}

.hero h2{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    color:#444f55;
    font-size:20px;
}

footer{
    padding:20px;
    text-align:center;
    background: #444F55;
    color:white;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #444F55;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color .25s;
}

nav a:hover {
    color: #FF9600;
}

body.page-exit {
    opacity: 0;
    transform: scale(1.03);
    filter: blur(8px);
}

.content {
    max-width: 1000px;
    margin: 100px auto;
    padding: 10px;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.content h3 {
    margin-top: 25px;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.3;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.tag {
    background-color:#444f55;
    color: white;
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 15px;
    display: inline-block;
}

