*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#101418;
    color:white;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 50px;

    background:#161b22;
}

header h1{
    font-size:28px;
}

.github{
    color:white;
    font-size:34px;
    transition:.3s;
}

.github:hover{
    color:#58a6ff;
    transform:scale(1.1);
}

main{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero{
    text-align:center;
}

.hero h2{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    color:#b8b8b8;
    font-size:20px;
}

footer{
    padding:20px;
    text-align:center;
    background:#161b22;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #161b22;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color .25s;
}

nav a:hover {
    color: #58a6ff;
}